.prunecluster {
	font-size: 12px;
	border-radius: 20px;
	transition: all 0.3s linear;
}
.leaflet-marker-icon.prunecluster-anim,
.leaflet-marker-shadow.prunecluster-anim,
.leaflet-markercluster-icon.prunecluster-anim {
	transition: all 0.3s linear;
}

.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-icon,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-shadow,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-markercluster-icon {
    transition: transform 0.25s cubic-bezier(0,0,0.25,1);
}
.prunecluster div {
	width: 30px;
	height: 30px;
	text-align: center;
	margin-left: 4px;
	margin-top: 4px;
	border-radius: 50%;
}
.prunecluster div span {
	line-height: 30px;
	color: #f4f4f4;
}


.prunecluster-medium {
	background-color: #8ccbff80;
}

.prunecluster-medium:hover {
	background-color: #ffffffd0;
}

.prunecluster-medium div {
	background-color: #8ccbff;
}